In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [3]:
df=pd.read_csv("C:/Users/sreel/Downloads/dataset w7.csv")
df.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

# 1. Descriptive Analysis of the given data

In [6]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2. To check whether female and male students scored the same marks

In [8]:
male=df.loc[df['Gender']=='male']
female=df.loc[df['Gender']=='female']

Hypothesis

null_hypothesis: marks scored by male and female students are NOT same.

alternative_hypothesis: marks scored by male and female students are same.

In [9]:
#degrees of freedom:
dof = (len(male)-1)+(len(female)-1)
dof

26

Level of significance = 5% = 0.05

In [12]:
# T critical value
t_critic = stats.t.ppf(q=1-0.05/2, df=dof)
t_critic

2.055529438642871

In [13]:
# test statistics
ttest,pval = stats.ttest_ind(male['Total Marks'],female['Total Marks'])
ttest,pval

(-0.6940885268848668, 0.4937822317960763)

In [14]:
if (abs(ttest)>t_critic)&(pval<0.05):
    print('We are rejecting null hypothesis')
else:
    print('we are accepting null hypothesis')

we are accepting null hypothesis

In [ ]:
Inference:
The marks scored by male and female are NOT same

# 3. Whether test preparation helps the students?

In [16]:
tp=df.loc[df['Test preparation']=='completed']
ntp=df.loc[df['Test preparation']=='none']

Hypothesis
null_hypothesis: Test preparation does not help students. Mean score of students who completed and not completed test preparation are equal

alternative_hypothesis: Test preparation do help students. Mean score of students who completed and not completed test preparation are not equal

In [17]:
#degrees of freedom:
dof = (len(tp)-1)+(len(ntp)-1)
dof

26

Level of significance = 5% = 0.05

In [18]:
# T critical value
t_critic = stats.t.ppf(q=1-0.05/2, df=dof)
t_critic

2.055529438642871

In [19]:
# test statistics
ttest1,pval1 = stats.ttest_ind(tp['Total Marks'],ntp['Total Marks'])
ttest1,pval1

(3.6143637527769217, 0.0012671292457320106)

In [20]:
if (abs(ttest1)>t_critic)&(pval1<0.05):
    print('We are rejecting null hypothesis')
else:
    print('we are accepting null hypothesis')

We are rejecting null hypothesis

Inference :
Test preparation do help students